# Dependencies
node_modules/
**/node_modules/

# Virtual environments
.venv/

# Scratch & temporary
scratch/

# Production builds
dist/
**/dist/
.next/
**/.next/

# Turborepo
.turbo/

# Environments
.env
.env*.local
**/.env
**/.env*.local
!.env.example
!.env.production.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db
